


<div class="card">
<%if @plants.main_image.present? %>
  <p><%= image_tag @plants.main_image.variant(resize_to_limit: [500,500]) %></p>
<%end%>
  <div class="card-content">
    <div class="media">

      <div class="media-content">
    <h1> <p class="title is-4" text-align="center"><%= @plants.name %></p></h1>
        <p class="subtitle is-6">Price : <%= @plants.price %></p>
      </div>
    </div>

    <div class="content">
    <p>Stock available : <%= @plants.stock%></p>
    <p>Plant size : <%= @plants.size%></p>
    <p>Description :     <%= @plants.description %></p>

      <time datetime="2016-1-1"> <%= @plants.created_at%></time>
    </div>
  </div>
</div>
